body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #242729;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #fbfbfb;
}
.table {
  border-collapse: collapse;
  border: 0;
  margin: 1em 0;
  width: 100%;
}
.table tr:last-child {
  border-bottom: 1px solid #ebeeee;
}
.table tr {
  border-top: 1px solid #ebeeee;
}
.table th {
  padding-left: 2px;
  text-align: left;
}
.table td {
  padding-left: 2px;
  vertical-align: top;
}
.table thead, .table tfoot {
  background-color: #f9fafa;
}
.table a {
  text-decoration: none;
}

.markdown-body img {
  max-width: 100%;
  height: auto;
  width: auto;
}
svg {
  max-width: 100%;
}
.container h2 {
  padding-bottom: 0.3em;
  line-height: 1.225;
  position: relative;
  margin: 0;
}
.container h2:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
  background-image: -webkit-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-image: -ms-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-size: 100%;
  bottom: 0px;
}
hr {
  border-style: none;
  height: 2px;
  background-image: -webkit-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-image: -ms-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.all {
  float: left;
  margin-top: -12px;
}
.second-title {
  font-size: 14px;
  margin-top: 4px;
  text-decoration: none;
}

ul {
  padding-left: 1.25em;
}
.markdown-body blockquote {
  background: #f6f6f6;
  border-left: 4px solid #5bc0de;
  padding: 5px 15px;
}
.markdown-body blockquote>h3 {
  margin-bottom: 4px;
  border-bottom: 1px dotted #ddd;
}
:link {
  color: #4078c0;
  background: transparent;
}
h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}

.backtotop {
  position: fixed;
  top: 88%;
  right: 10%;
  width: 32px;
  height: 30px;
  display: block;
  color: #fff;
  background-color: #000;
  z-index: 99999;
  filter:alpha(opacity=40);
  opacity: .4;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.markdown-body blockquote>ol{
  padding-left: 1.8em;
}
.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    margin-left: 6px;
    margin-right: 6px;
  }
}