<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>智能家居</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/iconfont/iconfont.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
	body { background-color: #EFEFEF; }

	.tab-divider {
		float: right;
		border-right: 2px solid #56575B;
		height: 18px;
		margin-left: 4px;
		margin-right: 4px;
		margin-top: 4px;
	}

	.widget {
		
	}
	.widget-header {
		padding: 10px;
		font-size: 16px;
		font-weight: bold;
	}
	.widget-body {
		margin:0 0 0 10px;
	}
	.widget-body .media-heading {
		font-size: 16px;
		line-height: 21.33333px;
	}
	.widget-body .img-avatar {
		border-radius: 0;
	}
	.widget-body .img-avatar.img-avatar-40 {
		width: 44px;
		height: 44px;
		line-height: 44px;
	}
	.widget-body .media-left {
		padding-right: 10px;
	}
	.margin-top-10 {
		margin-top: 10px;
		right: 10px;
	}
  </style>
  <body>
    <div class="widget bg-white">
		<div class="widget-header">
			精品展示
		</div>
		<hr style="margin:0 0 10px 0">
		<div class="widget-body">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z1.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>			  
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			 <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z1.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z1.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z1.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z1.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<div class="hspace-10"></div>
		</div>		
	</div>

	<div class="hspace-10"></div>

	<div class="widget bg-white">
		<div class="widget-header">
			创意家居
		</div>
		<hr style="margin:0 0 10px 0">
		<div class="widget-body">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z2.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>			  
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			 <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z2.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z2.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z2.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z2.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<div class="hspace-10"></div>
		</div>		
	</div>

	<div class="hspace-10"></div>

	<div class="widget bg-white">
		<div class="widget-header">
			智能影音
		</div>
		<hr style="margin:0 0 10px 0">
		<div class="widget-body">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z3.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>			  
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			 <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z3.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z3.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z3.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/z3.jpg" alt="...">
				</a>
			  </div>
			  <div class="media-body">
				<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
				<h4 class="media-heading">云平台的智能家居</h4>
				<span>物联网+智能监测+云平台架构</span>
			  </div>
			</div>
			<div class="hspace-10"></div>
		</div>		
	</div>

	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>