<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>有线电视</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		body { background-color: #EFEFEF; }
	</style>
  </head>
  <body>
	<div class="container-fluid" style="background-color: #FFF;">
		<div class="row">
			<div class="yx-title">
				<i class="glyphicon glyphicon-menu-left" onclick="window.location.href='生活缴费.html'"></i><span>新增缴费账户</span>
				<span class="right">天津</span>
			</div>
		</div>
	
		<hr class="yx-hr">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="jf-pd">
					<div class="table-media btn-info">
						<div class="tableCell">
							<div class="content glyphicon glyphicon-film"></div>
						</div>					
					</div>
					
					<div class="table-media">
						<div class="tableCell">
							<div class="content" style="width:65px;">
								有线电视
							</div>
						</div>			
					</div>
				</div>
			</div>			
		</div>
		<hr class="yx-hr-b-up">
		<div>
			<span class="yx-bf">家庭</span><i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey"></i><div class="pull-right arrow-color-AAA minus-2">我家</div>
		</div>
		<hr class="yx-hr-b-bt">
	</div>
	
	<div class="hspace-10"></div>

	<div class="container-fluid" style="background-color: #FFF;">
		<div class="hspace-10"></div>
		<div>
			<span class="yx-bf">缴费单位</span><i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey"></i><div class="pull-right arrow-color-AAA minus-2">天津广播电视网络游戏公司</div>
		</div>
		<hr class="yx-hr-b-0">
		<div>
			<span class="yx-bf">用户号</span><span class="arrow-color-grey mgn-lf-30">查看纸质单</span>
		</div>
		<hr class="yx-hr-b-lf">
		<span>同意</span><span class="arrow-color-blue">《自助缴费服务协议》</span>
		<button class="btn btn-default btn-block yx-hr-b-0" style="background:#e4e4e4;color:#c9c9c9;border:1px solid #e4e4e4;" disabled>下一步</button>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>