<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>油田黄页</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">    
	<link href="iconfont/iconfont.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container-fluid">
		
		<div class="row row-space">
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-primary"><i class="iconfont fa-1-5x">&#xe632;</i></span>
				<div>快递</div>
			</div>
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-success"><i class="iconfont fa-1-5x">&#xe604;</i></span>
				<div>交通出行</div>
			</div>
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-info"><i class="iconfont fa-1-5x">&#xe62c;</i></span>
				<div>酒店旅游</div>
			</div>
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-warning"><i class="iconfont fa-1-5x">&#xe610;</i></span>
				<div>医院</div>
			</div>
		</div>

		<div class="row row-space">
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-warning"><i class="iconfont fa-1-5x">&#xe62e;</i></span>
				<div>银行</div>
			</div>
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-info"><i class="iconfont fa-1-5x">&#xe8f6;</i></span>
				<div>公共服务</div>
			</div>
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-success"><i class="iconfont fa-1-5x">&#xe608;</i></span>
				<div>品牌售后</div>
			</div>
			<div class="col-xs-3 text-center">
				<span class="img-avatar img-avatar-40 btn-primary"><i class="iconfont fa-1-5x">&#xe634;</i></span>
				<div>保险证券</div>
			</div>
		</div>

	</div>

	<div class="hot-num">热门号码</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <span class="img-avatar img-avatar-40 btn-primary"><i class="iconfont fa-1-5x">中</i></span>
					</a>
				  </div>				  
				  <div class="media-body">
					<div class="phone-right"><i class="iconfont fa-2x">&#xe678;</i></div>
					<h4 class="media-heading">中通快递</h4>
					<span>95533</span>					
				  </div>				  
				</div>
			</div>
		</div>
		<div class="hr-divider-10"></div>

		<div class="row">
			<div class="col-xs-12">
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <span class="img-avatar img-avatar-40 btn-warning"><i class="iconfont fa-1-5x">申</i></span>
					</a>
				  </div>				  
				  <div class="media-body">
					<div class="phone-right"><i class="iconfont fa-2x">&#xe678;</i></div>
					<h4 class="media-heading">申通快递</h4>
					<span>95543</span>
				  </div>				  
				</div>
			</div>
		</div>
		<div class="hr-divider-10"></div>

		<div class="row">
			<div class="col-xs-12">
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <span class="img-avatar img-avatar-40 btn-info"><i class="iconfont fa-1-5x">招</i></span>
					</a>
				  </div>				  
				  <div class="media-body">
					<div class="phone-right"><i class="iconfont fa-2x">&#xe678;</i></div>
					<h4 class="media-heading">招商银行</h4>
					<span>95555</span>
				  </div>				  
				</div>
			</div>
		</div>
		<div class="hr-divider-10"></div>

		<div class="row">
			<div class="col-xs-12">
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <span class="img-avatar img-avatar-40 btn-success"><i class="iconfont fa-1-5x">农</i></span>
					</a>
				  </div>				  
				  <div class="media-body">
					<div class="phone-right"><i class="iconfont fa-2x">&#xe678;</i></div>
					<h4 class="media-heading">农业银行</h4>
					<span>95599</span>
				  </div>				  
				</div>
			</div>
		</div>
		<div class="hr-divider-10"></div>

		<div class="row">
			<div class="col-xs-12">
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <span class="img-avatar img-avatar-40 btn-primary"><i class="iconfont fa-1-5x">南</i></span>
					</a>
				  </div>				  
				  <div class="media-body">
					<div class="phone-right"><i class="iconfont fa-2x">&#xe678;</i></div>
					<h4 class="media-heading">南方航空</h4>
					<span>95539</span>
				  </div>				  
				</div>
			</div>
		</div>
		<div class="hr-divider-10"></div>

		<div class="row">
			<div class="col-xs-12">
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <span class="img-avatar img-avatar-40 btn-warning"><i class="iconfont fa-1-5x">浙</i></span>
					</a>
				  </div>				  
				  <div class="media-body">
					<div class="phone-right"><i class="iconfont fa-2x">&#xe678;</i></div>
					<h4 class="media-heading">浙商银行</h4>
					<span>95527</span>
				  </div>				  
				</div>
			</div>
		</div>
		<div class="hr-divider-10"></div>
		

	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>