<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>油田资讯</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/iconfont/iconfont.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
	body { background-color: #EFEFEF; }

	.tab-divider {
		float: right;
		border-right: 2px solid #56575B;
		height: 18px;
		margin-left: 4px;
		margin-right: 4px;
		margin-top: 4px;
	}

	.widget {
		
	}
	.widget-header {
		padding: 10px;
		font-size: 16px;
		font-weight: bold;
	}
	.widget-body {
		margin:0 0 0 10px;
	}
	.widget-body .media-heading {
		font-size: 16px;
		line-height: 21.33333px;
	}
	.widget-body .img-avatar {
		border-radius: 0;
	}
	.widget-body .img-avatar.img-avatar-40 {
		width: 85px;
		height: 64px;
		line-height: 64px;
	}
	.widget-body .media-right {
		padding-right: 10px;
	}
  </style>
  <body>
    <div class="widget bg-white">
		<div class="widget-header">
			集团新闻
		</div>
		<hr style="margin:0 0 10px 0">
		<div class="widget-body">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top1.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top2.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top3.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top4.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top5.jpg" alt="...">
				</a>
			  </div>
			</div>
			<div class="hspace-10"></div>
		</div>		
	</div>

	<div class="hspace-10"></div>

	<div class="widget bg-white">
		<div class="widget-header">
			领导动态
		</div>
		<hr style="margin:0 0 10px 0">
		<div class="widget-body">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top1.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top2.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top3.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top4.jpg" alt="...">
				</a>
			  </div>
			</div>
			<hr style="margin:10px 0">
			<div class="media">
			  <div class="media-body">
				<h4 class="media-heading">天津离婚买房人士挤爆民政局登记处临时“闭门谢客”</h4>
				<span>大港油田网&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont">&#xe63d;</i> 9</span>
			  </div>
			  <div class="media-right">
				<a href="#">
				  <img class="media-object img-avatar img-avatar-40" src="img/top5.jpg" alt="...">
				</a>
			  </div>
			</div>
			<div class="hspace-10"></div>
		</div>		
	</div>

	

	<!-- 
	<div class="container-fluid bg-white">
		
		视频资料 | 精彩专题
	
		<div class="hspace-10"></div>
	
		<div class="title">
			<div class="one">视频资料<i class="tab-divider"></i></div>			
			<div class="two">精彩专题</div>
			<div class="pull-right">更多+</div>
		</div>
	
		<br/>
	
		<div class="hdivider-1"></div>
	
		<div class="media">
		  <div class="media-left">
			<a href="#">
			  <img class="media-object img-avatar img-avatar-40" src="img/img20141106104319098.gif" alt="...">
			</a>
		  </div>				  
		  <div class="media-body">
			<i class="glyphicon glyphicon-menu-right pull-right arrow-color-grey margin-top-10"></i>
			<h4 class="media-heading">云平台的智能家居</h4>
			<span>物联网*智能测控*云平台架构</span>					
		  </div>				  
		</div>
		
		<div class="hr-divider-10"></div>
		
		集团新闻 | 企业告示
	
		<div class="hdivider-4"></div>
	
		<div class="title">
			<div class="one">集团新闻<i class="tab-divider"></i></div>
			<div class="two">企业告示</div>
			<div class="more">更多+</div>
		</div>
	
		<br/>
	
		<div class="hdivider-1"></div>
	
		<div class="list-group">
		  <a href="#" class="list-group-elem">
			陕京四线输气管道工程正式开工
		  </a>
		  <a href="#" class="list-group-elem">大港油田召开安全生产电视电话会议</a>
		  <a href="#" class="list-group-elem">大港油田集团公司党校举行2016年春季...</a>
		  <a href="#" class="list-group-elem">大港油田再获“科技创新优秀企业”奖</a>
		  <a href="#" class="list-group-elem">大港油田率公积金贷款政策调整：首套最...</a>
		</div>
		
		领导动态 | 媒体聚焦 | 正能量
	
		<div class="hdivider-4"></div>
	
		<div class="title">
			<div class="one">领导动态<i class="tab-divider"></i></div>
			<div class="two-with">媒体聚焦<i class="tab-divider"></i></div>
			<div class="two">正能量</div>
			<div class="more">更多+</div>
		</div>
	
		<br/>
	
		<div class="hdivider-1"></div>
	
		<div class="list-group">
		  <a href="#" class="list-group-elem">
			努尔·白克力考察中石油苏丹项目
		  </a>
		  <a href="#" class="list-group-elem">全国人大常委会委员辜胜阻到中国石油调研</a>
		  <a href="#" class="list-group-elem">杨晶考察中缅油气管道项目</a>
		  <a href="#" class="list-group-elem">李源潮考察东南亚管道公司</a>
		  <a href="#" class="list-group-elem">国务委员王勇到吉林石化考察</a>
		</div>
	
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3">1</div>
			<div class="col-xs-3 col-sm-3 col-md-3">2</div>
			<div class="col-xs-3 col-sm-3 col-md-3">3</div>
			<div class="col-xs-3 col-sm-3 col-md-3">4</div>			
		</div>
	</div> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>