<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>生活缴费</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="iconfont/iconfont.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		body { background-color: #EFEFEF; }
	</style>
  </head>
  <body>
	<div class="container-fluid" style="background-color: #FFF;">
		<div class="row">
			<div class="jf-title text-center">
				<i class="glyphicon glyphicon-map-marker text-primary"></i><span>天津大港油田社区</span>
			</div>
		</div>

		<hr class="jf-hr">

		<div class="row row-space">
			<div class="col-xs-4 text-center" onclick="window.location.href='有线电视.html'">
				<span class="img-avatar img-avatar-40 btn-warning"><i class="iconfont fa-1-5x">视</i></span>
				<div>有线电视</div>
			</div>
			<div class="col-xs-4 text-center">
				<span class="img-avatar img-avatar-40 btn-info"><i class="iconfont fa-1-5x">网</i></span>
				<div>固话宽带</div>
			</div>
			<div class="col-xs-4 text-center">
				<span class="img-avatar img-avatar-40 btn-grey"><i class="iconfont fa-1-5x">物</i></span>
				<div>物业费</div>
			</div>
		</div>		

		<br>
			
		<div class="row row-space">
			<div class="col-xs-4 text-center">
				<span class="img-avatar img-avatar-40 btn-grey"><i class="iconfont fa-1-5x">水</i></span>
				<div>水费</div>
			</div>
			<div class="col-xs-4 text-center">
				<span class="img-avatar img-avatar-40 btn-grey"><i class="iconfont fa-1-5x">电</i></span>
				<div>电费</div>
			</div>
			<div class="col-xs-4 text-center">
				<span class="img-avatar img-avatar-40 btn-grey"><i class="iconfont fa-1-5x">气</i></span>
				<div>燃气费</div>
			</div>
		</div>		
		
		<div class="hspace-10"></div>

	</div>
	<div class="text-center text-muted h6">灰色项目暂不支持，我们将尽快开通</div>
	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>